/* -------------------------------------------------------------------------- */
/*                                 Theme                                      */
/* -------------------------------------------------------------------------- */

@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "theme/functions";

@import "../../node_modules/bootstrap/scss/mixins";
@import "theme/mixins";

@import "user-variables";
@import "theme/variables";
@import 'theme/_utilities.scss';
@import "../../node_modules/bootstrap/scss/variables";

/*-----------------------------------------------
|   Bootstrap Styles
-----------------------------------------------*/
@import "bootstrap";

/*-----------------------------------------------
|   Theme Styles
-----------------------------------------------*/
@import "theme/theme";

/*-----------------------------------------------
|   User Styles
-----------------------------------------------*/
@import "user";

.btn-outline-vpn {
  color: $vpn;
  border-color: $vpn;
}

.btn-outline-vpn:hover {
  color: #fff;
  background-color: $vpn;
  border-color: $vpn;
}

.btn-vpn {
  color: #fff;
  background-color: $vpn;
  border-color: $vpn;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-vpn:hover {
  color: #fff;
  background-color: #337efb;
  border-color: #337efb;
}

.bg-soft-vpn {
  background-color: #5092ff8f !important;
}