.border-vpn-500 {
  --border-opacity: 1;
  border-color: #5092ff;
  border-color: rgba(80, 146, 255, var(--border-opacity));
}

.text-vpn-500 {
  --text-opacity: 1;
  color: #5092ff;
  color: rgba(80, 146, 255, var(--text-opacity));
}

.hover\:text-vpn-500:hover {
  --text-opacity: 1;
  color: #5092ff;
  color: rgba(80, 146, 255, var(--text-opacity));
}

.animation-hover::after {
  background-color: rgba(80, 146, 255,1);
}

.bg-vpn-500 {
  --bg-opacity: 1;
  background-color: #5092ff;
  background-color: rgba(80, 146, 255, var(--bg-opacity));
}

.bg-vpn-100 {
  --bg-opacity: 1;
  background-color: #c8dcff;
  background-color: rgba(200, 220, 255, var(--bg-opacity));
}

.hover\:bg-vpn-500:hover {
  --bg-opacity: 1;
  background-color: #5092ff;
  background-color: rgba(80, 146, 255, var(--bg-opacity));
}

.hover\:shadow-vpn:hover {
 box-shadow:0px 20px 20px -15px rgba(80, 146, 255,0.81);
}

.hover\:shadow-vpn-md:hover {
 box-shadow:0px 20px 40px -15px rgba(80, 146, 255,0.81)
}